<%if @error %>
    <div class="alert alert-danger"><%=@error%></div>
  <% end %>
  
<form id="bet_form" role="form" action="/bet" method="post">
  <div class="form-group">
    <h3>Make a bet</h3> 
  </div>
  <div class="form-group">
    <p>Welcome <%= session[:player_name] %>. You have $<%= session[:player_pot].to_i %></p>
  </div>
  <div class="form-group">
    <label for="bet_amount">Wager</label>
    <input type="text" class="form-control" id="bet_amount" name="bet_amount" placeholder="Enter Wager Amount here" required>
  </div>
  <button type="submit" class="btn btn-warning btn-block">Bet</button>
</form>

 