<h3>Thanks for playing</h3>
<<<<<<< HEAD
<p>You leave today with <%= session[:player_pot] %>.</p>
<a href="/new_player" class="btn btn-success btn-sm">Start over</a>
=======
See you in Vegas. :)
<a href="/new_player" class="btn btn-success">Start over</a>
>>>>>>> parent of 9c8e99e... added blackjack variable and warning messages to bet page
