
<form id="new_player_form" role="form" action="/new_player" method="post">
  <div class="form-group">
    <h3>New Player Form</h3> 
  </div>
  <div class="form-group">
    <label for="player_name">Name</label>
    <input type="text" class="form-control" id="player_name" name="player_name" placeholder="Enter Name here" required>
  </div>
  <div class="checkbox">
    <label>
      <input type="checkbox" required> Yes, I am over 18. <br>
      <input type="checkbox" required> Yes, I agree to the Terms & Conditions. 
    </label>
  </div>
  <button type="submit" class="btn btn-warning btn-block">Submit</button>
</form>